.monospaceRegex {
    font-family: monospace;
}

.deletedRegexPart {
    background-color: lightpink;
    font-weight: bold;
}

.addedRegexPart {
    background-color: lightgreen;
    font-weight: bold;
}
.simplifyStep {
    margin-left: 20px;
}

.instructions {
    min-height: 160px;
}

.graph {
    min-height: 150px;
}

.header {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 4em;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

.header p {
    display: block;
    font-size: 2em;
    line-height: 1em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

hr {
    height: 2px;
    border-color: grey;
}

.content {
    background-color: white;
    min-height: 400px;
    border: solid rgb(229, 229, 229) 2px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer {
    margin-top: 30px;
    text-align: center;
    color: grey;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(245, 245, 245);
    padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
}

h3 {
    text-rendering: auto;
}
